@import "./../../styles/variables.scss";

.navbar {
  flex-direction: column;
  background-color: $color-light-grey;

  .navbar-brand {
    img {
      height: 60%;
    }
  }

  .navbar-nav {
    flex-direction: column !important;

    .nav-link {
      color: $color-black;
    }
  }
}
