@import "~bootstrap/scss/bootstrap";

.item1 {
  grid-area: menu;
  grid-column-start: 1;
  grid-column-end: 2;
}

.item2 {
  grid-area: main;
}

.item2 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 100%);
  grid-template-areas:
    "menu main main main main main"
    "menu main main main main main"
    "menu footer footer footer footer footer";
  // background-color: #7cd1b8;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
